<!DOCTYPE html><!--[if IE 8]><html class="lt-ie9"><![endif]-->
<!-- [if gt IE 8] <!-->
<html lang="en">
  <!-- <![endif]-->
  <head>
    <meta charset="UTF-8">
    <meta content="Personal website + portfolio of Kevin Khandjian" name="description">
    <meta content="Kevin Khandjian" name="author">
    <meta content="3 days" name="revisit-after">
    <link rel="stylesheet" href="/styles/main.css">
  </head>
  <body class="index">
    <div class="container">
      <div class="sidebar"><img src="/images/kevin-khandjian-circle.png">
        <h1><a href="/">Kevin Khandjian</a></h1>
        <h2><a href="/pages/projects-and-portfolio.html">projects &amp; portfolio companies</a></h2>
        <h2><a href="/">about me</a></h2>
        <hr>
        <div class="links"><a href="mailto:kevinkhandjian@gmail.com" class="email">Email Me: kevinkhandjian@gmail.com</a><a href="http://twitter.com/thewebguy" class="twitter">Follow Me: @thewebguy</a></div>
      </div>
      <div class="content">
      </div>
    </div>
    <script src="/scripts/main.js"></script>
    <script>
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-1066346-12']);
      _gaq.push(['_trackPageview']);
      
      (function() {
       var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
       ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
       var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  </body>
</html>